body {
  background-color: black;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
}
#folderInput {
  color: white; /* Change text color */
  margin: 5px; /* Add padding */
  border: 1px solid white; /* Remove default border */
  cursor: pointer; /* Show pointer cursor on hover */
  font-weight: bold;
}
.image-container {
  flex: 1 1 auto;
  height: 65vh;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
img.lazy-loaded {
  opacity: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}
.overlay.active {
  display: flex;
}
.overlay img {
  max-width: fit-content;
  max-height: fit-content;
  opacity: 1;
}
