body {
  background-color: #111111;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
  ); /* Flexible columns */
  grid-gap: 5px; /* Space between images/videos */
  justify-items: center; /* Center the images/videos */
  margin: 10px;
}

#folderInput {
  color: white;
  margin: 5px;
  border: 1px solid white;
  cursor: pointer;
}

.media-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
video {
  width: 100%;
  height: auto; /* Maintain natural aspect ratio */
  object-fit: contain; /* Crops image to fit container */
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}

img.lazy-loaded,
video.lazy-loaded {
  opacity: 1; /* Fade in effect once lazy-loaded */
}
