body {
  background-color: black;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
  ); /* Flexible columns */
  grid-gap: 5px; /* Space between images/videos */
  justify-items: center; /* Center the images/videos */
  margin: 20px;
}

#folderInput {
  color: white;
  margin: 5px;
  border: 1px solid white;
  cursor: pointer;
  font-weight: bold;
}

.media-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
video {
  width: 100%;
  height: auto; /* Maintain natural aspect ratio */
  object-fit: cover; /* Crops image to fit container */
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

img.lazy-loaded,
video.lazy-loaded {
  opacity: 1; /* Fade in effect once lazy-loaded */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.overlay.active {
  display: flex;
}

.overlay img {
  max-width: auto; /* Ensure image fits within the viewport width */
  max-height: 95%; /* Ensure image fits within the viewport height */
  object-fit: contain; /* Prevent image from being cut off */
  opacity: 1; /* Ensure image is visible */
  pointer-events: none;
}
